
@media screen and (max-width: 1280px) {
    .sushi-right{
        display: none;
    }

    .sushi-left{
        display: none;
    }
}
@media screen and (max-width: 1040px) {
    header{
        height: auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .header_container{
        flex-direction: column;
        height: auto;
    }
    .slider-main{
        height: auto;
    }

    .slider_main{
        height: auto;
    }
    

    .slider__item1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .slider__bottom{
        justify-content: center;
    }

    .about-us{
        height: auto;
    }

    .sushi-right-2{
        display: none;
    }

    .sushi{
        justify-content: space-around;
    }

    .title{
        flex-direction: column;
    }

    .title ul{
        padding: 0;
    }
    
    .reviews .title{
        flex-direction: column;
    }

    .reviews-container{
        justify-content: space-around;
    }

    .register{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .register input{
        margin-top: 20px;
    }
    .submit{
        margin-top: 20px;
    }
    footer{
        height: auto;
    }
    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts ul{
        padding: 0;
    }

    .menu ul{
        padding: 0;
    }
    .icons{
        padding: 0;
    }

    .round-the-clock{
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height: auto;
    }

    .delivery-title{
        text-align: center;
    }

    .information{
        justify-content: space-around;
    }

    .breadcrumbs{
        text-align: center;
    }
    .about-us div {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
        margin: 0 auto;
    }

    .about-us div p {
        width: 200px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1040px) {
    .promotions{
        justify-content: space-around;
    }

    .promotion-overflow{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .promotion-2{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }


}

@media screen and (max-width: 724px){

    .offers .title{
        max-width: 100%;
    }
}


@media screen and (max-width: 500px){

    .offers .title{
        max-width: 100%;
    }
    .review{
        text-align: center;
    }

    .menu li a{
        font-size: 12px;
    }

    .title ul{
        flex-direction: column;
        text-align: center;
    }

    .title li:hover{
        border-bottom: none;
    }

    .title li a:hover{
        color: red;
    }

    .phone li{
        flex-direction: column;
        font-size: 14px;
    }
    .phone li span{
        margin-left: 0px;
    }


    .slider{
        margin: 15px;
    }

    .slider__item1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    aside{
        display: none;
    }

    .slider__item2 img{
        max-width: 200px;
    }

    .promotion-overflow{
        width: 100%;
    }

    .promotion-overflow img{
        max-width: 300px;
    }

    .promotion-2 img{
        max-width: 300px;
    }

    .because{
        width: 100%;
    }

    .round-the-clock img{
        max-width: 300px;
    }
    
    
}